<div class="container">
  <div class="card">
    <div class="card-header">
        <h2>Exemplo de CROP de Imagem</h2>
    </div>
    <div class="card-body">

      <div class="custom-file">
        <input type="file" id="customFile" class="custom-file-input" (change)="fileChangeEvent($event)" />
        <label class="custom-file-label" for="customFile">Escolha um arquivo</label>
      </div>
      <div class="row">
          <div class="col-12 col-md-6 col-lg-4 text-center">
              <h4>Imagem Original</h4>
              <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 4"
              [resizeToWidth]="256"
              [hideResizeSquares]="false"
              [cropperMinWidth]="128"
              [cropperMinHeight]="128"
              [roundCropper]="true"
              [imageURL]="imagemInicialUrl"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()">
            </image-cropper>
          </div>
          <div class="col-12 col-md-6 col-lg-4 text-center">
              <h4>Crop</h4>
              <img class="rounded-circle" [src]="croppedImage"/>
          </div>
      </div>
    </div>
  </div>
</div>
